.timeOutpt{
     text-align: center;
     font-size: 40px;
}
.cntrl{
    text-align: center;
}
.stopwatch{
     margin-top: 105px;
}







.startbtn{
     padding: 13px 25px;
     border-radius: 20px;
     border: none;
     outline: none;
     font-size: 15px;
     font-family: cursive;
     font-style: oblique;
     background: yellowgreen;
     font-weight: bold;
}
.stopbtn{
     padding: 13px 25px;
     border-radius: 20px;
     border: none;
     outline: none;
     font-size: 15px;
     font-family: cursive;
     font-style: oblique;
     background: #eb4000bd;
     font-weight: bold;
}

.reset{
     padding: 13px 25px;
     border-radius: 20px;
     border: none;
     outline: none;
     font-size: 15px;
     font-family: cursive;
     font-style: oblique;
     background: cadetblue;
     font-weight: bold;
}